{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>

    Cidadão não encontrado

    <br>

    <a href="{{ path('app_person_index') }}">back to list</a>

{% endblock %}
